@page
@model IndexModel
@{
    ViewData["Title"] = "Player page";
}

<div class="text-center">
    <h1 class="display-4">Build a team!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul id="players-list"></ul>

</div>
@section Scripts
{
<script src="~/js/api.js"></script>
}